{% extends 'base.html.twig' %}

{% block title %}Rechercher un post{% endblock %}

{% block body %}
    {{ form(searchForm)}}

    {% for post in posts %}

        <div style="height: 50px; margin: 10px; width: auto; background-color: darkblue; color: white">
            {{ post.title }}
            {{ post.dateCreated|date('Y-m-d') }}
            {{ post.content }}
            <a href="" class="text-bg-primary">View</a>
            <a href="" class="text-bg-success">Edit</a>
            <a href="" class="text-bg-danger">Delete</a>
        </div>

    {% endfor %}
{% endblock %}